/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300);

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #eeeeee;
    width: 70%;
    margin: 15px auto 0;
}

/*.div-material
{
    transition: transform 2s;
}

.div-material:hover
{
    box-shadow: 4px 4px 10px 0 rgba(0,0,0, 0.65);
    transform: rotate(30deg);
}
*/

.div-material {
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.36);
    -moz-box-shadow:    0 3px 6px rgba(0,0,0,0.36);
    box-shadow:         0 3px 6px rgba(0,0,0,0.36);
}

input
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.btn {
    background-color: #ff4436;
    color: #ffffff;
    border: 0;
    padding: 5px 10px;
    transition: box-shadow 3s;
    transition: -moz-box-shadow 3s;
    transition: -webkit-box-shadow 3s;
}

.btn:hover{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.36);
    -moz-box-shadow:    0 3px 6px rgba(0,0,0,0.36);
    box-shadow:         0 3px 6px rgba(0,0,0,0.36);
}